/*Основний дів для черг*/
.lastQueues{
    margin-top: 1%;
    font-size: 2vw;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Alegreya', serif;
}

/* Стилі для посилань */
a {
    text-decoration: none;
    color: #291679;
}

a:hover {
    color: #ad265e;
}