/*Основний дів для черг*/
.lastQueues{
    margin-top: 1%;
    font-size: 2vw;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Alegreya', serif;
}

